/*div {
	border: solid 1px black;

}
*/

#login {
	height: 55px;
	background-color: #252e35;

}

#login .form-inline {
	text-align: right;
	padding-top: 5px;
	color: #8a90b6;
}

#banner {
	background-color: black; 
}

#banner .col-md-12 img {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: none;

}



#navbar .col-md-3 {
	height: 50px;
	text-align: center;
	font-size: 30px;
	color: #8a90b6;
	background-color: #252e35;

}

#navbar .col-md-3:hover {
	color: #252e35;
	background-color: #8a90b6;

}


#main {
	background-image: url("../img/rcbg.jpg");
	/*padding-right: 15px;*/


}

#main2 {
	background-image: url("../img/bg3.jpg");
	/*padding-right: 15px;*/


}

#main3 {
	background-image: url("../img/bg2.jpg");
	/*padding-right: 15px;*/


}

#main4 {
	background-image: url("../img/bg4.png");
}

#main5 {
	background-image: url("../img/bg5.gif");
}






#main .col-md-4 {
	height: 750px;
}

#main .col-md-8 {
	height: 750px;
}

#main2 .col-md-1 {
	height: 4000px;
	background-color: black;

}

#main2 .col-md-10 {
	height: 4000px;
	background: rgba(128, 128, 128, .8);
	color: black;

}
#main3 .col-md-1 {
	height: 750px;
	background-color: black;

}

#main3 .col-md-10 {
	height: 750px;
	background: rgba(128, 128, 128, .8);
	color: black;

}

#main4 .col-md-1 {
	height: 750px;
	background-color: black;

}

#main4 .col-md-10 {
	height: 750px;
	background: rgba(128, 128, 128, .8);
	color: black;

}

#main4 img {
	height: 150px;
	width: 250px;
	margin: 10px;
}

#main5 .col-md-1 {
	height: 590px;
	background-color: black;

}

#main5 .col-md-10 {
	height: 590px;
	background: rgba(128, 128, 128, .5);
	color: black;

}

section {
	width:48%;
/*	background: rgba(128, 128, 128, .8);
*/	float:right;
	height: 730px;
	border: solid 1px black;
	margin-left: 10px;


}

#poster {
	height: 300px;
	width: 188px;
	padding: 5px;
}

#footer {
	height: 25px;
	background-color: #252e35;
	color: #8a90b6;
	text-align: center;

}

#sidebar {
	background-color: black;
	
}


.form-control {
	width: 25%;
}

#state {
	width: 20%;

}

#zip {
	width: 20%;

}

#submitButton {
	width: 10%;
}

#submitButton2 {
	width: 10%;
}
